<footer class="footer mt-auto py-3">
  <div class="container">
      <div class="row">
          <div class="col-md-4">
              <h5>À propos de la plateforme</h5>
              <p>
                  Une plateforme collaborative dédiée aux chercheurs et développeurs 
                  dans le domaine du traitement automatique de la langue arabe.
              </p>
          </div>
          <div class="col-md-4">
              <h5>Liens Rapides</h5>
              <ul class="list-unstyled">
                  <li><a href="/corpus">Corpus</a></li>
                  <li><a href="/outils">Outils</a></li>
                  <li><a href="/ressources">Ressources</a></li>
                  <li><a href="/forum">Forum</a></li>
                  <li><a href="/contact">Contact</a></li>
              </ul>
          </div>
          <div class="col-md-4">
              <h5>Partenaires</h5>
              <ul class="list-unstyled">
                  <li>USTHB</li>
                  <li>Centre de Recherche Scientifique et Technique pour le Développement de la Langue Arabe
                    
                  </li>
              </ul>
          </div>
      </div>
      <hr>
      <div class="row">
          <div class="col-md-12 text-center">
              <p>&copy; 2025 Plateforme TAL Arabe. Tous droits réservés.</p>
          </div>
      </div>
  </div>
</footer>